<!DOCTYPE html>
<html lang="en">
    <head>
        <title>T-Distribution</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/homepage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center" id="headliner">
            <h1 id="headtext">T-Distribution</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4"> </div>
                <div class="col-sm-4 loginMod"> 
                    <form action="#"" method="post">
                        <h2>Username: </h2>
                        <p> <input type="text" id="username" placeholder="T-Distributor"/> </p>
                        <h2>Password: </h2>
                        <p><input type="text" id="pwd" placeholder="secret1234"/> </p>
                        <button id="loginMod" type="button" class="btn-success" > Login</button>
                        <button id="signUp" type="button" class="btn-primary">Sign Up</button>
                        <p>Don't have an account? Click Sign up!</p>
                        
                    </form>
                </div>
                <div class="col-sm-4"> </div>
            </div>
        </div>
        
    </body>
    <script src="homepage.js"></script>
</html>