<!DOCTYPE html>
<html lang="en">
    <head>
        <title>T-Distribution</title>
        <meta charset="utf-8">
        <script>
            const USERNAME = "<%= username %>"
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/homepage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center" id="headliner">
            <h1 id="headtext">T-Distribution</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2"> 
                    <h2>Rooms available to join:</h2>
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Room Name</th>
                            <th>Owner</th>
                            <th>Link</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">
                          <tr>
                            <td>Room 1</td>
                            <td>username</td>
                            <td><a href="http://192.168.68.115:3005/room/room1">room1 </a> </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-sm-8" id="main"> 
                    
                </div>
                <div class="col-sm-2"> 
                    <h2> Create a Room</h2>
                    <form>
                        <h3>Room Name</h3>
                        <p> <input type="text" id="name" placeholder="T-Squad"/> </p>
                        <h3>Custom Link </h3>
                        <p>If left unentered, a random link will be assigned to the room</p>
                        <p><input type="text" id="link" placeholder="T-Squad"/> </p>
                        <button id="createRoom" type="button" class="btn-primary">Create Room</button>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
    <script src="/userView.js"></script>
</html>